<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Inventory Hero</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  </style>
</head>
<body>
<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <div class ="jumbotron text-center">
  <h1>Lets Heal the world!</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-dashboard logo slideanim slide"></span>
      <a href="/dashboard"><h4>DASHBOARD</h4></a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-shopping-cart logo slideanim slide"></span>
      <a href="/login"><h4>PURCHASE EQUIPMENTS</h4></a>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-plus logo slideanim slide"></span>
      <a href="/login"><h4>PROVIDE EQUIPMENTS</h4></a>
      <p></p>
    </div>
  </div>

</body>
</html>